/* Enter your custom styles here */
/*background-image: url("../images/background1.bmp");	*/
.sapUxAPObjectPageHeaderContentDesign-Light {
	background-image: url("../images/background1.bmp");	
    filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
}

.sapUxAPObjectPageHeaderIdentifier {
	background-image: url("../images/background1.bmp");	
    display:none;
}

.sapMObjStatus>.sapMObjStatusTitle {
    color: white;
}

.sapUxAPObjectPageContainer .sapMObjStatusNone .sapMObjStatusText, .sapUxAPObjectPageHeaderContentItem.sapMObjStatusNone .sapMObjStatusText, .sapUxAPObjectPageHeaderContentItem .sapMObjStatusNone .sapMObjStatusText, .sapUxAPObjectPageContainer .sapMObjStatusNone .sapMObjStatusIcon, .sapUxAPObjectPageHeaderContentItem.sapMObjStatusNone .sapMObjStatusIcon, .sapUxAPObjectPageHeaderContentItem .sapMObjStatusNone .sapMObjStatusIcon {
    color: white;
}

.sapUxAPObjectPageHeaderDetails .sapMLabel {
    color: white;
}
.sapUxAPObjectPageHeaderIdentifierTitleInContent, .sapUxAPObjectPageHeaderIdentifierSubTitleInContent {
    color: white;
}

html.sap-desktop .sapMBtnTransparent>.sapMBtnIcon {
    color: white;
}


.TableRowHight{
	height: 6rem;
}

/*.sapMLIBActionable, .sapMLIBActionable>.sapMLIBImgNav, .sapMListTblNavCol>.sapMLIBImgNav, .sapMLIBActionable .sapMSLIImgThumb, .sapMLIBActionable .sapMSLIImgThumbIcon, .sapMLIBActionable .sapMSLIImgIcon {*/
/*    cursor: pointer;*/
/*    height: 6rem;*/
/*}*/

.sapMBtnTransparent {
    background-image: none;
    background-color: transparent;
    border-color: transparent;
    color: white;
}
.sapUiFormResGridCont {
    padding-bottom: 0rem;
}
.bc_while{
	background-color: while;
}
.HideField {
    visibility: hidden;
}
/*.sapUiVlt {*/
/*    display: none;*/
/*    vertical-align: text-top;*/
/*}*/